<h1>Eat-Da-Burger!</h1>

<main>
    <div id="top" class="container-fluid">

         <div class="row">
             <div class="col-md6">
                   {{#each burgers}}
                       {{#unless this.devoured}}

                             <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
		                             <button class='burgerAvailable' disabled> {{this.burger_name}}</button>
		                             <input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
		                            <button type="submit" class="devourIt">Devour it!</button>
                             </form>  
                        {{/unless}}
                    {{/each}}
             </div>          
         </div>
    </div>

<div class="row">
	<h2>Make Your Own Burger!</h2>
    <div id="bottom" class="container-fluid">
 
	    <div class="col-md12">
	         <form action="/burgers/insert" method="POST">
		         <input type="text" id="burger_name" name="burger_name" placeholder="Make DA Burger">
		         <button type="submit" class="addBurgerButton">Add The Burger</button>
	    	 </form>
		</div>


		<h3>Burgers Devoured...</h3>
		<div class="row">
			<div class="col-md12">
		      
		        {{#each burgers}}
		            {{#if this.devoured}}
		                <form>
			               <button class='burgerEaten' disabled> {{this.burger_name}}</button>
			 			</form>
		            {{/if}}
		        {{/each}}

		    </div>
		</div>

	</div>
</div>

</main>